{% extends 'html/lte/movies/base_list.html' %}
{% load static i18n imagekit %}

{% block content %}
<div class="card box">
  <div class="card-header">
    <h3>{{ title }} List</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <p>{{ description }}</p>
    <table id="list" class="table table-hover dataTable display">
      <caption>{{ title }} List</caption>
      <thead>
        <tr>
          <th></th>
          <th>{% trans 'Title' %}</th>
          <th>{% trans 'Age' %}</th>
          <th>{% trans 'IMDB Rating' %}</th>
          <th>{% trans 'Duration' %} <small>(min.)</small></th>
        </tr>
      </thead>
      <tbody>
        {% for item in movie_list %}
        <tr>
          <td>{% if item.image %}
            {% generateimage 'ic_thumbnail' source=item.image -- alt=item.name class='img-fluid w-100' %}
            {% else %}
            <img class="img-fluid w-100" 
              src="{% static 'no-image-thumbnail.jpg' %}" 
              alt="{% trans 'no image' %}">
            {% endif %}
          </td>
          <td>
            <a href="{% url 'movie-detail' item.slug %}">
              {{ item.name }}</a> 
              <small><em>({{ item.release_year }})</em></small>
          </td>
          <td>{{ item.age }}</td>
          <td>{{ item.imdb_rating }}</td>
          <td>{{ item.duration }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>{% trans 'Movie' %} 
            <small>({% trans 'Release Year' %})</small></th>
          <th>{% trans 'Age' %}</th>
          <th>{% trans 'IMDB Rating' %}</th>
          <th>{% trans 'Duration' %} <small>(min.)</small></th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}

{% block extra_script %}
<script>
    $(function () {
      $('#list').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "order": [[3, 'desc']],
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{% endblock %}