{% extends 'html/lte/celebs/base.html' %}
{% load static i18n imagekit %}

{% block title_page_suffix %}{% if object.nick_name %}
  ({{ object.nick_name }})
{% endif %}{% endblock %}
{% block title_info %}{% endblock %}

{% block content %}
<div class="card box">
  <div class="card-header">
    <h3 class="card-title">{{ object.code }}</h3>
    <figure class="poster row no-gutters">    
      <div class="col-md-3">
        {% if object.image %}
          {% generateimage 'ic_poster' source=object.image -- alt=object.name class='img-fluid' width='100%' %}
        {% else %}
          <img class="img-fluid" 
            width="100%" 
            src="{% static 'no-image-poster.jpg' %}" 
            alt="{% trans 'no image' %}">
        {% endif %}
      </div>
      <div class="col-md-9"> <!-- embed-responsive -->
        {% if object.trailer and object.trailer_video != 'no-video' %}
        <iframe width="100%" height="100%" 
          src="{{ object.trailer_video.0 }}" 
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          frameborder="0" allowfullscreen>
        </iframe>
        {% else%}
        <img class="img-fluid" width="100%" 
          src="{% static 'no-video.jpg' %}" alt="{% trans 'no video' %}">
        {% endif %}          
      </div>
      <div class="col-md-12">
        <figcaption>
          <strong>{{ object.name }}</strong> <br>
          {% if object.image_credit %}
            (image credit: {{ object.image_credit }})<br>{% endif %}
          {% if object.trailer_info %}
            (about video: {{ object.trailer_info }}){% endif %}
        </figcaption>
      </div>
    </figure>
    <div class="col col-6"></div>
    
    <div class="col col-6 small float-right text-right">
      {% if object.birthdate or object.birth_place %}
      <strong>Birth Date / Birth Place: </strong>
      {{ object.birthdate }} ({{ object.age }} years old) / 
        <br>{{ object.birth_place }}
      {% endif %}
      {% if object.deathdate or object.death_place %}
        <br><strong>Death Date / Death Place: </strong>
        {{ object.deathdate }} / 
        <br>{{ object.death_place }}
      {% endif %}
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    {% if object.content %}
    <div class="module">
      <div class="collapse" id="detail" aria-expanded="false">
        <div>
          <kbd>{% trans 'Biography' %}:</kbd> {{ object.content|safe }}
        </div>
      </div>
      <a role="button" class="collapsed" data-toggle="collapse" 
        href="#detail" aria-expanded="false" 
        aria-controls="detail"></a>
    </div>
    <small>
      <kbd>{% trans 'Content source' %}:</kbd> 
      <a href="{{ object.content_source }}" target="_blank">
        {{ object.content_source }}</a>
    </small>
    {% endif %}
    <hr>
    <a name="films"></a>
    <h2>Filmography</h2>
    <table>
      <tbody>
        {% for i in object.moviecrews.all %}
        <tr>
          <td>
            <a href="{% url 'movie-detail' i.movie.slug %}" 
              alt="{{ i.movie.name }}">{{ i.movie.name }}</a> 
              <small>({{ i.movie.release_year }})</small>
            ...
            <span class="font-italic">{{ i.duty.name }}</span>
            {% if i.role %}
              <span class="font-italic">({{ i.role }})</span>{% endif %}
            {% if i.screen_name %}
              as <span class="font-italic">{{ i.screen_name }}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% for i in object.as_director.all %}
        <tr>
          <td>
            <a href="{% url 'movie-detail' i.movie.slug %}" 
              alt="{{ i.movie.name }}">{{ i.movie.name }}</a>  
              <small>({{ i.movie.release_year }})</small>
            ...
            <span class="font-italic">{{ i.duty.name }}</span>
            {% if i.role %}
              <span class="font-italic">({{ i.role }})</span>{% endif %}
            {% if i.screen_name %}
              as <span class="font-italic">{{ i.screen_name }}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% for i in object.as_writer.all %}
        <tr>
          <td>
            <a href="{% url 'movie-detail' i.movie.slug %}" 
              alt="{{ i.movie.name }}">{{ i.movie.name }}</a> 
              <small>({{ i.movie.release_year }})</small>
            ...
            <span class="font-italic">{{ i.duty.name }}</span>
            {% if i.role %}
              <span class="font-italic">({{ i.role }})</span>{% endif %}
            {% if i.screen_name %}
              as <span class="font-italic">{{ i.screen_name }}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}

        {% for i in object.as_cast.all %}
        <tr>
          <td>
            <a href="{% url 'movie-detail' i.movie.slug %}" 
              alt="{{ i.movie.name }}">{{ i.movie.name }}</a> 
              <small>({{ i.movie.release_year }})</small>
            ...
            <span class="font-italic">{{ i.duty.name }}</span>
            {% if i.role %}
              <span class="font-italic">({{ i.role }})</span>{% endif %}
            {% if i.screen_name %}
              as <span class="font-italic">{{ i.screen_name }}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}